<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.heilerich.pubkey</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1FF6F071-79FF-4FFF-A51D-BB8DA9E14D5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC1815E3-308D-4BA9-82D4-5D0E3D0ABEB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>94563ECC-A0BF-418B-A31E-6F8540BCA373</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F2C92C5-FC2D-42EF-A622-6E966147BBD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>94563ECC-A0BF-418B-A31E-6F8540BCA373</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2FFD845-5693-49CC-96E2-D6EB911A26AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F2C92C5-FC2D-42EF-A622-6E966147BBD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9330347-42C0-4D6E-9A6A-E26D0F927139</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73B58F39-DE72-4E9F-8667-1037E32A3058</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FF6F071-79FF-4FFF-A51D-BB8DA9E14D5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Felix Heilmeyer</string>
	<key>description</key>
	<string>Get SSH public keys from URL</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pubkeys</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>pub refresh</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>BC1815E3-308D-4BA9-82D4-5D0E3D0ABEB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-pubkey -refresh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F2C92C5-FC2D-42EF-A622-6E966147BBD0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>pub</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-pubkey "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Get SSH public keys</string>
				<key>title</key>
				<string>Public Keys</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>73B58F39-DE72-4E9F-8667-1037E32A3058</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>pub</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>A9330347-42C0-4D6E-9A6A-E26D0F927139</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>refresh</string>
						<key>outputlabel</key>
						<string>refresh</string>
						<key>uid</key>
						<string>94563ECC-A0BF-418B-A31E-6F8540BCA373</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>copy</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1FF6F071-79FF-4FFF-A51D-BB8DA9E14D5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C2FFD845-5693-49CC-96E2-D6EB911A26AC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1FF6F071-79FF-4FFF-A51D-BB8DA9E14D5F</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>3F2C92C5-FC2D-42EF-A622-6E966147BBD0</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>73B58F39-DE72-4E9F-8667-1037E32A3058</key>
		<dict>
			<key>xpos</key>
			<real>120</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>A9330347-42C0-4D6E-9A6A-E26D0F927139</key>
		<dict>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>BC1815E3-308D-4BA9-82D4-5D0E3D0ABEB2</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>C2FFD845-5693-49CC-96E2-D6EB911A26AC</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
